/* You can add global styles to this file, and also import other style files */
body{
    
    background:linear-gradient(90deg,rgb(204, 255, 255),rgb(0, 128, 128));
    
}


input, i{
    cursor: pointer;
}

.line{
    text-decoration: line-through;
}
